################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FactorySimulation/BuildOutput
/FactorySimulation/.vs/FactorySimulation
/FactorySimulation/MES/bin/Release/netcoreapp3.1
/FactorySimulation/MES/obj
/FactorySimulation/Station/bin/Release/netcoreapp3.1
/FactorySimulation/Station/obj
/FactorySimulation/Station/bin/Debug
/FactorySimulation/MES/bin/Debug/netcoreapp3.1
/FactorySimulation/PressureRelief/.vs/PressureRelief
/FactorySimulation/PressureRelief/obj
/FactorySimulation/PressureRelief/bin/Debug/net6.0
/FactorySimulation/PressureRelief/bin/Debug/netcoreapp3.1
/FactorySimulation/PressureRelief/Properties/launchSettings.json
/FactorySimulation/PressureRelief/Properties/PublishProfiles
/FactorySimulation/PressureRelief/Properties/ServiceDependencies/pressurereleaf - Zip Deploy
/FactorySimulation/PressureRelief/Properties/serviceDependencies.pressurereleaf - Zip Deploy.json
/FactorySimulation/PressureRelief/Properties/serviceDependencies.pressurereleaf - Zip Deploy.json.user
/FactorySimulation/PressureRelief/bin/Release/netcoreapp3.1
