################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FactorySimulation/BuildOutput
/FactorySimulation/.vs/FactorySimulation
/FactorySimulation/MES/bin/Release/netcoreapp3.1
/FactorySimulation/MES/obj
/FactorySimulation/Station/bin/Release/netcoreapp3.1
/FactorySimulation/Station/obj
/FactorySimulation/Station/bin/Debug
