################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tools/FactorySimulation/OnPremAssets/.vs
/Tools/FactorySimulation/OnPremAssets/Station/.vs
/Tools/FactorySimulation/OnPremAssets/Station/bin/Debug/net6.0
/Tools/FactorySimulation/OnPremAssets/Station/obj/Container
/Tools/FactorySimulation/OnPremAssets/Station/obj/Debug/net6.0
/Tools/FactorySimulation/OnPremAssets/Station/obj/Release/net6.0
/Tools/FactorySimulation/OnPremAssets/Station/obj
/Tools/FactorySimulation/PressureReliefFunction/.vs
/Tools/FactorySimulation/PressureReliefFunction/bin
/Tools/FactorySimulation/PressureReliefFunction/obj/Debug
/Tools/FactorySimulation/PressureReliefFunction/obj/Release
/Tools/FactorySimulation/PressureReliefFunction/obj
/Tools/AssetAdminShell/blazorsampleapp/.vscode
/Tools/AssetAdminShell/aasontologyanalyzer/.vscode
/Tools/FactorySimulation/OnPremAssets/Station/bin/Release/net6.0
/Tools/FactorySimulation/OnPremAssets/Station/pki
/Tools/FactorySimulation/OnPremAssets/Station/app/pki/own
/Tools/FactorySimulation/OnPremAssets/Station/app/pki/trusted/certs
/Tools/ADTGenerator/.vs/ADTGenerator
/Tools/ADTGenerator/bin/Debug/net7.0-windows
/Tools/ADTGenerator/obj
/Tools/ADTGenerator/~$isa95-test.xlsx
/Tools/ADTGenerator/isa95-test.xlsx
/Tools/ADTGenerator/ADTGenerator.csproj.user
